<body>
  <div class="mainScreen">
    <div class="left"></div>
    <div class="translation">
      <ng-container
        *ngIf="{ word: word$ | async, timer: timer$ | async }; let state"
      >
        <div class="timer">
          <h2>Time Remaining:</h2>
          <h2 class="time">{{ state.timer | date: "mm:ss" }}</h2>
        </div>

        <div class="input">
        <h1 class="italian">{{ state.word }}</h1>

        <form
          [formGroup]="translationForm"
          (ngSubmit)="onSubmit(); translationForm.reset()"
        >
          <input type="text" formControlName="english" placeholder="Enter Translation"/>
        </form>
        </div>

      </ng-container>

      <div class="score">
       <h1>Score: {{ score }}</h1>
       <h1 class = "average">Average: {{average}}</h1>
       </div>

      <div *ngIf="wrong === true">
        <h2 class="correction">Translation wrong, try another!</h2>
        <h2 class="correction">The correct translation was: {{ correctWord }}</h2>
      </div>
    </div>

    <div class="leaderboard">
      <h1>Leaderboard</h1>
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
</body>
