h1 {
  font-family: Helvetica;
}

body {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.score {
  background-color: #ccefff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  margin-left: 55em;
  width: 300px;
}

.scoreNoLeaderboard {
  background-color: #ccefff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  width: 335px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.translation {
  flex: 0 1 auto;
  width: 335px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.leaderboard {
  flex: 0 1 auto;
  width: 1px;
  margin-left: 35em;
}
